html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;

  font-family: 'Open Sans', sans-serif;
}
body {
    background: rgb(77,119,177);
    background: linear-gradient(rgba(77,119,177,1) 0%, rgba(70,144,252,1) 100%);
}
.wrapper {

  background-color: orange;

  max-width: 45%;
  display: flex;
  flex-direction: row;
  height: 75%;
}

.left, .right {

  background-color: lightblue;

  margin: 5px;
  max-width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left {
  align-items: center;
  justify-content: center;
}


.name {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2px;
}

img {
  border-radius: 50%;
}

.social-links {
  list-style: none;
  padding-left: 0px;
  font-size: 18px;
  margin-left: 15px;
}

.social-links li {
  display: inline-block;
  margin-right: 25px;
}

.social-links a {
  text-decoration: none;
  padding: 4px;
}

.social-links a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}